@import url('https://fonts.googleapis.com/css?family=Barrio');
img{
  background-color: blue;                                    

}
img{
    width: 300px;
  height: 300px;
  display: inline-block;
    
}
#secondparagraph{
    font-size: 50px;
}

#firstparagraph{
    font-size: 24px; 
}
    

#thirdparagraph { 
    font-size:24px;
}      
.paragraphonetwo{
    background-color: blue;
}
#firstparagraph{
    font-family: 'Barrio', cursive;
}
